@model PyStudio.Model.ClientModel.PyUserInfo

@{
    ViewData["Title"] = "头像上传";
}
<body class="lx-body-white">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ViewData["Title"]</h3>
                        <hr />
                        <form method="post" id="form_submit" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Model.UserId" />
                            <div class="form-group">
                                <img src="@Model.UserHeadPhoto" id="img_headPhoto" style="width: 140px; height: 140px;" required="required" class="img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <input type="file" name="myHeadPhoto" class="form-control" placeholder="选择头像图片" accept="image/gif,image/jpeg,image/jpg,image/png" />
                                <p class="help-block">选择你自定义的头像图片。</p>
                            </div>
                            <button type="button" id="Update" class="btn btn-secondary">保存头像</button> <a href="~/Admin/Home/Index" class="btn btn-black">返回主页</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section FootScripts{
    <script src="~/assets/js/MyAjaxForm.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[name='myHeadPhoto']").on("change", function () {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#img_headPhoto").attr("src", e.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
            $("#Update").click(function () {
                $("#form_submit").ajaxSubmit({
                    url: "/api/UserCenterApi/UpHeadPhoto",
                    type: "post",
                    success: function (data) {
                        data = JSON.parse(data.replace("<pre style=\"word-wrap: break-word; white-space: pre-wrap;\">", "").replace("</pre>", ""));
                        if (data.isOK == 0) {
                            openMsg(data.msg, false);
                        } else if (data.isOK == 1) {
                            openMsg(data.msg, true);
                        } else if (data.isOK == 2) {
                            openMsg(data.msg, false, 0);
                        } else {
                            openMsg("内部错误，请稍后...", false, 3);
                        }
                    },
                    error: function () {
                        openMsg("内部错误，请稍后...", false, 3);
                    }
                });
            });
        })

    </script>
}
