@model PyStudio.Model.ClientModel.AreaInfo

@{
    ViewData["Title"] = "地区新增";
    Layout = "~/Areas/Admin/Views/Shared/_SpecialLayout.cshtml";
}

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" name="form_submit" class="form-horizontal validate" action="~/Admin/BaseInfo/AreaInfoCreate">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="UpAreaName">所属类别</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="UpAreaName" />
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="AreaCode">地区编号</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="AreaCode" />
                    </div>
                    <label class="col-sm-2 control-label" asp-for="AreaName">地区名称</label>
                    <div class="col-sm-4 lx-validate">
                        <input type="text" class="form-control" asp-for="AreaName" data-validate="required" data-message-required="地区名称不能为空！" />
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="AreaZipCode">邮政编码</label>
                    <div class="col-sm-4 lx-validate">
                        <input type="text" class="form-control" asp-for="AreaZipCode" />
                    </div>
                    <label class="col-sm-2 control-label" asp-for="AreaCoord">经纬度</label>
                    <div class="col-sm-4 lx-validate">
                        <input type="text" class="form-control" asp-for="AreaCoord" />
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <input type="hidden" asp-for="AreaPid" />
                <input type="hidden" asp-for="UpAreaPathId" />
                <input type="hidden" asp-for="AreaLevel" />
                <div class="divpadding"></div>
                <div class="fixedSave">
                    <div class="text-left">
                        <button id="Save" type="submit" class="btn btn-info btn-icon btn-icon-standalone">
                            <i class="fa-save"></i>
                            <span>@(ViewData["MsgBox"] ?? "提 交")</span>
                        </button>
                        <span id="msgBox" style="color:darkred"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section FootScripts{
   
}