@model PyStudio.Model.ClientModel.AreaInfo

@{
    ViewData["Title"] = "地区修改";
    Layout = "~/Areas/Admin/Views/Shared/_SpecialLayout.cshtml";
}

<body class="lx-body-white">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" name="form_submit" class="validate">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" asp-for="UpAreaName">所属类别</label>
                                <input type="text" readonly class="form-control" asp-for="UpAreaName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" asp-for="AreaCode">地区编号</label>
                                <input type="text" readonly class="form-control" asp-for="AreaCode" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group lx-validate">
                                <label class="control-label" asp-for="AreaName">地区名称</label>
                                <input type="text" class="form-control" asp-for="AreaName" data-validate="required" data-message-required="地区名称不能为空！" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" asp-for="AreaZipCode">邮政编码</label>
                                <input type="text" class="form-control" asp-for="AreaZipCode" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group lx-validate">
                                <label class="control-label" asp-for="AreaCoord">经纬度</label>
                                <input type="text" class="form-control" asp-for="AreaCoord" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group lx-validate">
                                <label class="control-label" asp-for="AreaCoord">备 注</label>
                                <textarea class="form-control autogrow" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;" asp-for="AreaNote"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="AreaId" />
                    <input type="hidden" asp-for="UpAreaPathId" />
                    <input type="hidden" asp-for="AreaPathId" />
                    <div class="divpadding"></div>
                    <div class="fixedSave">
                        <div class="text-left">
                            <button id="ModifySave" type="button" class="btn btn-info btn-icon btn-icon-standalone">
                                <i class="fa-save"></i>
                                <span>修 改</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
@section FootScripts{
    <script type="text/javascript">
        $("#ModifySave").on('click', function () {
            //Ajax提交时form表单验证失效，暂时用手工判断。
            if (isEmpty($("#AreaName").val())) {
                openMsg("地区名称不能为空！");
                $("#AreaName").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: 'AreaInfoModify',
                data: $("form[name='form_submit']").serialize(),
                success: function (data) {
                    if (data.isOK == 0) {
                        openMsg(data.msg, false);
                    } else if (data.isOK == 1) {
                        openMsg(data.msg, true);
                    } else {
                        openMsg("内部错误，请稍后...", false, 3);
                    }
                },
                error: function () {
                    openMsg("内部错误，请稍后...", false, 3);
                }
            });
        });
    </script>
}
