
@{
    ViewData["Title"] = @"(/' ≡ _≡)/ ~┴┴ 出错了";
}
<div class="page-error centered">

    <div class="error-symbol">
        <i class="fa-warning"></i>
    </div>

    <h2>
        好像有丶问题
        <small>@ViewData["MsgBox"]</small>
    </h2>

    <p>不要着急，重新试试？</p>
    <p>你也可以联系管理员帮助您解决这个问题。</p>

</div>
