@model PyStudio.Model.ClientModel.PyRegisterUser

@{
    ViewData["Title"] = "用户注册";
    Layout = "~/Areas/Admin/Views/Shared/_SpecialLayout.cshtml";
}
@section Style{
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
}
<body class="page-body login-page login-light">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6">

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        setTimeout(function () { $(".fade-in-effect").addClass('in'); }, 1);
                    });
                </script>
                <form method="post" id="register" class="login-form fade-in-effect validate">
                    <div class="login-header">
                        <a class="logo">
                            <img src="~/assets/images/logo-white-bg@2x.png" alt="" width="80" />
                            <span>注册</span>
                        </a>
                        <p>亲爱的用户，欢迎注册！</p>
                    </div>
                    <div class="form-group">
                        @*<label class="control-label" asp-for="UserName"></label>*@
                        <input type="text" class="form-control" asp-for="UserName" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        @*<label class="control-label" asp-for="UserPwd"></label>*@
                        <input type="password" class="form-control" asp-for="UserPwd" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        @* <label class="control-label" asp-for="ComfirmPwd"></label>*@
                        <input type="password" class="form-control" asp-for="ComfirmPwd" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <button id="SiginUp" type="button" class="btn btn-primary  btn-block text-left">
                            <i class="fa-lock"></i>
                            Sign up
                        </button>
                    </div>
                    <div class="login-footer">
                        <a href="#">忘记密码?</a>

                        <div class="info-links">
                            <a href="#">用户条款</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
@section FootScripts{
    <script src="~/lib/nprogress/nprogress.js"></script>
    <script type="text/javascript">

        NProgress.configure({ ease: 'ease', speed: 400 });
        NProgress.configure({ minimum: 0.4 });
        NProgress.configure({ trickleRate: 0.13, trickleSpeed: 500 });

        $("#SiginUp").on('click', function () {
            $("#SiginUp").addClass("disabled");
            NProgress.start();
            $.ajax({
                type: "POST",
                url: "/api/AccountApi/Register",
                data: $("form[id='register']").serialize(),
                success: function (data) {
                    if (data.isOK == 0) {
                        openMsg(data.msg, false);
                        NProgress.done();
                        $("#SiginUp").removeClass("disabled");
                    } else if (data.isOK == 1) {
                        openMsg(data.msg, false, 1);
                        NProgress.done();
                        location.href = "/Admin/Home/Index";
                    } else if (data.isOK == 2) {
                        openMsg(data.msg, false, 0);
                        NProgress.done();
                        $("#SiginUp").removeClass("disabled");
                    } else {
                        openMsg("内部错误，请稍后...", false, 3);
                        NProgress.done();
                        $("#SiginUp").removeClass("disabled");
                    }
                },
                error: function () {
                    openMsg("内部错误，请稍后...", false, 3);
                    NProgress.done();
                    $("#SiginUp").removeClass("disabled");
                }
            });
        });
    </script>
}

